<div class="col-md-4 col-md-offset-4">
  <app-form-result [formResult]="formulario"></app-form-result>
</div>
<div class="container">
  <div class="row">
    <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="form-group">
          <h2>Endereço</h2>
          <div class="control-group">
            <label class="control-label">Nome Completo</label>
            <div class="controls">
              <input id="full-name" formControlName="nome" type="text" placeholder="nome" class="form-control">
              <p class="help-block"></p>
            </div>
          </div>
        </div>

        <div formGroupName="enderecoCompleto">
          <div class="form-group">
            <div class="control-group">
              <label class="control-label">Cep / Código Postal</label>
              <div class="controls">
                <input type="text" class="form-control" id="cep" placeholder="cep ou codigo postal" formControlName="cep" (blur)="consultaDeCep()">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Endereço</label>
              <div class="controls">
                <input id="address-line1" formControlName="endereco" type="text" placeholder="endereço" class="form-control">
                <p class="help-block">Rua, nome, companhia, etc</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Complemento</label>
              <div class="controls">
                <input id="address-line2" formControlName="complemento" type="text" placeholder="complemento" class="form-control">
                <p class="help-block">Apartamento, casa, etc.</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Cidade</label>
              <div class="controls">
                <input id="city" formControlName="cidade" placeholder="cidade" class="form-control">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Estado</label>
              <div class="controls">
                <input id="region" formControlName="estado" placeholder="estado / região" class="form-control">
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">País</label>
              <div class="controls">
                <select id="country" formControlName="pais" class="form-control">
                  <option value="" selected="selected">(selecione seu país)</option>
                  <option value="Brasil">Brasil</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="col-md-4 col-md-offset-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn" (click)="resetar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
